<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.local.date.dao.DateDAO">
    <select id="getCategoryMaster" resultType="hashmap">
        SELECT * FROM m_category;
    </select>
    <insert id="insertSchedule" parameterType="ScheduleDTO">
        INSERT INTO
            schedule(
                     date,
                     place,
                     date_lat,
                     date_lon,
                     memo)
            VALUE(
                #{date},
                #{place},
                #{date_lat},
                #{date_lon},
                #{memo}
            );
    </insert>
    <insert id="insertPictures" parameterType="ScheduleDTO">
        INSERT INTO
            pictures(idx, picture, upload_date)
        VALUES
            <foreach collection="imgs" item="item" separator=",">(#{idx}, #{item}, now())</foreach>;
    </insert>
    <insert id="insertCategories" parameterType="ScheduleDTO">
        INSERT INTO
            plural_category(idx, category_id)
        VALUES
            <foreach collection="categories" item="item" separator=",">(#{idx}, #{item})</foreach>;
    </insert>
    <select id="getIndexSchedule" parameterType="ScheduleDTO" resultType="int">
        SELECT idx FROM schedule
        WHERE date = #{date} AND place = #{place};
    </select>
    <select id="getDateList" parameterType="String" resultType="ScheduleDTO">
        SELECT * FROM schedule
        WHERE date LIKE CONCAT(#{target_date}, '%');
    </select>
    <select id="getSchedule" parameterType="String" resultType="ScheduleDTO">
        SELECT * FROM schedule
        WHERE date = #{target_date};
    </select>
    <select id="getCategory" parameterType="int" resultType="String">
        SELECT mc.category_name FROM plural_category a LEFT JOIN m_category mc on a.category_id = mc.category_id
        WHERE idx = #{idx};
    </select>
    <select id="getPictures" parameterType="int" resultType="String">
        SELECT picture FROM pictures
        WHERE idx = #{idx};
    </select>
    <delete id="delPicture" parameterType="String">
        DELETE FROM pictures
        WHERE picture = #{picture};
    </delete>
</mapper>